@page "/"

<PageTitle>Головна</PageTitle>

<div class="container pb-3">
    <h1 class="m-4 text-center fw-bold display-5">Головна</h1>
    <br />
    <div class="card p-5 mb-4 shadow-lg" style="border-radius: 15px; background-color:whitesmoke;">
        <div class="container text-center py-5">
            <h1 class="display-6">Знання - це сила!</h1>
            <br />
            <p class="col-md-8 mx-auto fs-4">
                Ні для кого не секрет, що знання це безцінний ресурс, який здобувається великим трудом. Знання - це відкриті
                двері для широких можливостей.
            </p>
        </div>
    </div>

    <div class="row align-items-md-stretch">
        <div class="col-md-6 mb-4">
            <div class="h-100 p-5 border shadow-lg" style="border-radius: 15px; background-color:whitesmoke;">
                <h2>Призначення</h2>
                <p>
                    Даний вебсервіс призначений для навчальних закладів та установ, які проводять оцінку знань серед своїх учнів. За допомогою даного
                    ресурсу користувачі зможуть проходити різноманітні тести, котрі для них підготують навчальні заклади.
                </p>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="h-100 p-5 border shadow-lg" style="border-radius: 15px; background-color:whitesmoke;">
                <h2>Функціонал</h2>
                <p>
                    Головним компонентом сервісу є безпосередньо тестування, за допомогою якого користувачі зможуть оцінити свої занння.
                    Роль адміністратора - створення цікавих тестів та перегляд результатів користувачів.
                </p>
            </div>
        </div>
    </div>
</div>
